<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-8">
      <div class="well bs-component">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

          <fieldset>
            <%= devise_error_messages! %>
            <legend>Sign up</legend>

            <div class="form-group">
              <%= f.label :username,"名前", class: "col-lg-3 control-label" %>
              <div class="col-lg-8">
                <%= f.text_field :username, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email,"Eメール", class: "col-lg-3 control-label" %>
              <div class="col-lg-8">
                <%= f.email_field :email, class: "form-control" %>
              </div>
            </div>

            <% if f.object.password_required? %>
              <div class="form-group">
                <%= f.label :password,"パスワード", class: "col-lg-3 control-label" %>
                <div class="col-lg-8">
                  <%= f.password_field :password, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation,"パスワード確認", class: "col-lg-3 control-label" %>
                <div class="col-lg-8">
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-3">
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
            </div>

          </fieldset>

          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-8">
      <div class="bs-component">
        <div class="well">
          <h3><%= render "devise/shared/links" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
