<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1><%= @post.title %> by <%= @post.user.username %></h1>
          <p class="text-success"><%= @post.deadline_at.strftime("%Y年 %m月 %d日") %>締め切り</p>
          <p class="bs-componet">
            <div id="favorites">
              <%= render partial: 'favorite', collection: @favorites %>
            </div>
          </p>
      </div>
      <div class="bs-component">
        <h2>
          <%= simple_format @post.body %>
        </h2>
      </div>
    </div>
  </div>
</div>


<%= render 'comment' %>
<div id="operation">
  <%= render 'operation', object: @post %>
</div>
